nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu a{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.carousel-inner{
max-height: 39rem;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form1{
    margin-left: 30%;
    margin-top: 20px;
}
.form2{
    margin-left: 30%;
    margin-top: 35px;    
}
.tittleis{
    margin-top: 50px;
    margin-right: 5%;
}
.img3{
    margin-top: 30px;
}
hr{
    color: red;
}
div .col{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}
footer{
    margin-top: 140px;
    background-color: rgb(175, 36, 36);
    text-align: center;
}   
.iconos{
    margin-bottom: 0px;   
    font-size: 26px;
}
.iconos1{
    margin-bottom: 0px;   
    font-size: 26px;
}
h3{
    margin-top: 20px;

}
.boton{
    margin-top: 20px;
    margin-left: 5px;
}

